
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.navbar {margin-bottom: 30px}
.description:hover{font-size: 150%}

th:hover{background-color: yellow}

footer {margin-top: 30px}
